<ul class="employee-list">
  <li *ngFor="let employee of employees">
    <div class="employee-info">
      <p [class.inactive]="!employee.is_active">
        {{ employee.first_name }} {{ employee.last_name }}
        <span>({{ employee.specialization }})</span>
      </p>
      <p [class.inactive]="!employee.is_active">
        {{ employee.email }} | Salary: ${{ employee.salary }}
      </p>
    </div>
    <div class="employee-actions">
      <button (click)="edit(employee)">✎</button>
      <button (click)="delete(employee)">✖</button>
    </div>
  </li>
  <p *ngIf="employees.length === 0">Нет сотрудников</p>
</ul>