<div class="profile-container">
  <div class="profile-header">
    <h2>Ваш профиль</h2>
  </div>
  
  <div class="profile-data">
    <div class="profile-item">
      <strong>Имя:</strong> {{ form.value.FirstName }}
    </div>
    <div class="profile-item">
      <strong>Фамилия:</strong> {{ form.value.LastName }}
    </div>
    <div class="profile-item">
      <strong>Почта:</strong> {{ form.value.mail }}
    </div>
    <div class="profile-item">
      <strong>Номер телефона:</strong> {{ form.value.phone_num }}
    </div>
    <div class="profile-item">
      <strong>Возраст:</strong> {{ form.value.age }}
    </div>
    <div class="profile-item">
      <strong>Имя бизнеса:</strong> {{ form.value.BussinesName }}
    </div>
    <div class="profile-item">
      <strong>Фото:</strong> 
      <img *ngIf="form.value.PhotoFile" [src]="photoPreview" alt="Фото профиля" class="profile-photo" />
    </div>
    <div class="profile-item">
      <strong>Логотип:</strong> 
      <img *ngIf="form.value.logoFile" [src]="logoPreview" alt="Логотип" class="profile-logo" />
    </div>
  </div>
</div>
