<form [formGroup]="form" (ngSubmit)="submit()" enctype="multipart/form-data">
  <div>
    <label>Username</label>
    <input formControlName="username" type="text" />
  </div>

  <div>
    <label>First Name</label>
    <input formControlName="FirstName" type="text" />
  </div>

  <div>
    <label>Last Name</label>
    <input formControlName="LastName" type="text" />
  </div>

  <div>
    <label>Password</label>
    <input formControlName="password" type="password" />
  </div>

  <div>
    <label>Email</label>
    <input formControlName="mail" type="email" />
  </div>

  <div>
    <label>Phone</label>
    <input formControlName="phone_num" type="text" />
  </div>

  <div>
    <label>Age</label>
    <input formControlName="age" type="number" />
  </div>

  <div>
    <label>Photo</label>
    <input type="file" (change)="onPhotoChange($event)" />
    <img *ngIf="photoPreview" [src]="photoPreview" width="100" />
  </div>

  <div>
    <label>Business Name</label>
    <input formControlName="BussinesName" type="text" />
  </div>

  <div>
    <label>Logo</label>
    <input type="file" (change)="onLogoChange($event)" />
    <img *ngIf="logoPreview" [src]="logoPreview" width="100" />
  </div>

  <button type="submit">Сохранить</button>
</form>
